.issues-list {
  .issue {
    padding: 10px $gl-padding;
    position: relative;

    .title {
      margin-bottom: 2px;
    }

    .issue-check {
      float: left;
      padding-right: 8px;
      margin-bottom: 10px;
      min-width: 15px;
    }

    .issue-labels {
      display: inline-block;
    }

    .issue-no-comments {
      opacity: 0.5;
    }
  }
}

.check-all-holder {
  line-height: 36px;
  float: left;
  margin-right: 15px;
}

.issues_content {
  .title {
    height: 40px;
  }

  form {
    margin: 0;
  }
}

form.edit-issue {
  margin: 0;
}

.merge-requests-title, .related-branches-title {
  font-size: 16px;
  font-weight: 600;
}

.merge-request-id {
  display: inline-block;
  width: 3em;
}

.merge-request-status {
  color: $gl-gray;
  font-size: 15px;
  font-weight: bold;
}

.merge-request,
.issue {
  &.today {
    background: #f3fff2;
    border-color: #e1e8d5;
  }

  &.closed {
    background: #f9f9f9;
    border-color: #e5e5e5;
  }

  &.merged {
    background: #f9f9f9;
    border-color: #e5e5e5;
  }
}

@media (max-width: $screen-xs-max) {
  .issue-btn-group {
    width: 100%;

    .btn {
      width: 100%;
    }
  }
}

.issue-form .select2-container {
  width: 250px !important;
}
